/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

video {
    object-fit: fill;
}

a {
    text-decoration: none;
    font-family: Roboto;
    color: #6c757d;
    background-color: transparent;
}

html {
    font-size: .625em;
    line-height: calc(1em * .625);
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--primary-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 19px;
    margin: 0;
}

h2, h3 {
    color: var(--primary-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 18px;
}

p {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: normal;
    line-height: normal;
    font-size  : 14px;
}

p#small {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: normal;
    line-height: normal;
    font-size  : 12px;  
}

p#smallhug {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: normal;
    line-height: normal;
    font-size  : 12px;
    margin-top: -14px;   
}

p#bold {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: 600;
    line-height: normal;
    font-size  : 14px;
}

p#bold-color {
    color      : var(--title-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: 800;
    line-height: normal;
    font-size  : 16px;
}


/* Layout  */

.main {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.status-bar {
    padding: 5px 8px 5px 8px;
}

.top-bar {
    padding: 16px 16px 16px 16px;

}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


span#icone {
    display: flex;
    align-items: center;
}