/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

video {
    object-fit: fill;
}

a {
    text-decoration: none;
    font-family: Roboto;
    color: #6c757d;
    background-color: transparent;
    display:inline-block;
}

html {
    font-size: .625em;
    line-height: calc(1em * .625);
}

img {
    max-width: 100%;
    height: auto;
}

h1 {
    color: var(--primary-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    font-size: 19px;
    margin: 0;
}

h2, h3 {
    color: var(--primary-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
    font-size: 18px;
}

.titre-tuto {
  margin-top: 30px;
}

h4 {
  color: var(--primary-color);
    font-family: Roboto;
    font-style: normal;
    font-weight: 800;
    line-height: 3px;
    font-size: 15px;
}

p {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: normal;
    line-height: normal;
    font-size  : 14px;
}

p#small {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: normal;
    line-height: normal;
    font-size  : 12px;  
}

p#smallhug {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: normal;
    line-height: normal;
    font-size  : 12px;
    margin-top: -14px;   
}

p#bold {
    color      : var(--text-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: 600;
    line-height: normal;
    font-size  : 14px;
}

p#bold-color {
    color      : var(--primary-color);
    font-family: Open Sans;
    font-style : normal;
    font-weight: 800;
    line-height: normal;
    font-size  : 15px;
}


/* Layout  */

.main {
    padding-right: 16px;
    padding-left: 16px;
    margin-top: 90px;
    margin-bottom: 90px;
}

.main#projets {
    margin-top: 146px;
}

.status-bar {
    padding: 5px 8px 5px 8px;
}

.top-bar {
    padding: 16px 16px 16px 16px;

}

.header {
    position: fixed;
    left: 0;
    right: 0;
    top: 0;
    background-color: white;
    z-index: 2;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
}


span#icone {
    display: flex;
    align-items: center;
}



/*----------------------------------------------
------Atomic CSS*/
.col-6 {
  flex: 0 0 50%;
  max-width: 50%;
}

.d-flex {
  display: flex;
}

.mx-auto {
  margin-left: auto !important;
  margin-right: auto !important;
}

.position-relative {
  position: relative;
}

/*----------------------------------------------
------Menu slide*/
.fix{
    position: fixed;
    overflow-x: scroll;
}

.swipe{
    display: flex;
}

.slide-menu {
    align-items: center;
    background: #fff;
    top: 102px;
    border: 1px solid #4F82E3;
    border-radius: 8px;
    box-shadow: 0px 4px 7px rgba(79, 130, 227, 0.1);
    width: 90px;
    height: 55px;
  
    text-decoration: none;
}

.menu__btn {
    transform: translateY(-1.5em);
}





/*----------------------------------------------
------Flickity*/
.flickity-enabled {
  position: relative;
  margin-bottom:10px;
}

.flickity-enabled:focus { outline: none; }

.flickity-viewport {
  overflow: hidden;
  position: relative;
  height: 100%;
  margin-bottom:10px;
}

.flickity-slider {
  position: absolute;
  width: 100%;
  height: 100%;
  margin-bottom:10px;
}

/* draggable */

.flickity-enabled.is-draggable {
  -webkit-tap-highlight-color: transparent;
          tap-highlight-color: transparent;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.flickity-enabled.is-draggable .flickity-viewport {
  cursor: move;
  cursor: -webkit-grab;
  cursor: grab;
}

.flickity-enabled.is-draggable .flickity-viewport.is-pointer-down {
  cursor: -webkit-grabbing;
  cursor: grabbing;
}

/*-----*/


.gallery-cell {
  width: 28%;
  height: 60px;
  margin-right: 15px;
  background: #fff;
  border: 1px solid #4F82E3;
  border-radius: 8px;
  counter-increment: gallery-cell;
  box-shadow: 0px 4px 7px rgba(79, 130, 227, 0.1);
  margin-bottom:10px;
  text-align:center;
}

.gallery-cell.is-active {
    background: var(--gradient-orange);
    border: 0px;
    box-shadow: 0px 4px 7px rgba(254, 148, 113, 0.1);
}

.slide-menu__span {
    font-size:11px;
    color: var(--primary-color);
    line-height:0px;
    text-align:center;
    font-family:Open Sans;
}


.slide-menu-tuto__span {
    font-size:13px;
    color: var(--primary-color);
    line-height:0px;
    text-align:center;
    font-family:Open Sans;
}


.slide-menu__span.is-active {
    color: #FFFFFF;
}


.icon-menu {
    margin: 10px 0px 10px 0px;
}


.libre-picto {
    margin:16px;
}

.marge-picto {
  margin-left: 20px;
  margin-right: 20px;
}

/*---------------------*/
button.flickity-button.flickity-prev-next-button.previous { display: none; }

button.flickity-button.flickity-prev-next-button.next { display: none; }

ol.flickity-page-dots { display: none; }





/*----------------------------------------------
------Formulaires*/

p.formulaire-round {
    border: 2px solid #BBBDBF;
    border-radius: 8px 0px 0px 8px;
    text-align: center;
    padding: 5px 40px 5px 40px;
    color: #BBBDBF;
}

p.formulaire-round:hover {
    border: 2px solid #4F82E3;
    color: #4F82E3;
}


p.formulaire-round1 {
    border: 2px solid #BBBDBF;
    border-radius: 0px 8px 8px 0px;
    text-align: center;
    padding: 5px 40px 5px 40px;
    margin-left: -2px;
    color: #BBBDBF;
}


p.formulaire-round1:hover {
    border: 2px solid #4F82E3;
    color: #4F82E3;
}


.formulaire-title {
  margin-bottom: -7px;
}


.btn-formulaire {
    border: 2px solid #BBBDBF;
    border-radius: 8px;
    text-align: center;
    padding: 10px;
    color: #BBBDBF;
    margin-right: 140px;
}

.btn-formulaire:hover {
    border: 2px solid #4F82E3;
    color: #4F82E3;
}

input[type=text] {
font-family: Open Sans;
  width: 100%;
  padding-bottom: 10px;
  margin: 0px;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid #BBBDBF;
  color: #BBBDBF;
}

input[type=text]:hover {
  color: #4F82E3;
  border: 2px solid #4F82E3;
}

