/* menu */
.menu {
	background-image: url("../img/background-menu.svg");
	background-repeat: no-repeat;
	display: flex;
	justify-content: space-around;
	align-items: center;
	bottom: 0;
    right: 0;
    left: 0;
    height: 55.65px;
    position: fixed;
}

.menu__btn {
	transform: translateY(-3em);
}

.end {
    justify-content: flex-end;
}

.card {
    display: flex;
    align-items: center;
    padding-bottom: 16px;
    margin-left: -5px;
    margin-right: -5px; 
}
.card-full {
	margin-bottom: 16px;
}

/* style status bar */
 .status {
	padding-left: 14px;
	color: #6c757d;
}

/* style top bar */
.arrow {
	width: 24px;
	height: 24px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.menu-title {
	text-align: center;
	flex-grow: 2;
}

/* style last projects */
.titre-section {
	text-align: left;
}

.player-full {
	border-radius: 10px;
	overflow: hidden;
	height: 180px;
	box-shadow: 0px 4px 6px rgba(26, 51, 100, 0.2);
}

.puce {
	display: inline-flex;
	padding-left: 5px;
}

.etiquette {
	padding : 0px 10px 0px 10px;
	height: 44px;
	display: flex;
	justify-content: space-between;
}

/* style vidéos de la communauté */
.player-half {
	border-radius: 10px;
	overflow: hidden;
	height: 110px;
	box-shadow: 0px 4px 6px rgba(26, 51, 100, 0.2);
}

.etiquette-half {
	padding : 0px 10px 0px 10px;
	height: 44px;
}

.card-half {
	padding: 0px 5px;
}


/* test 
 */

.search {
	flex-grow: 2;
	display: flex;
}

.search input[type=text] {
	font-size: 14px;
	font-family: Roboto;
	flex-grow: 1;
	border: none;
}

.search button {
	background-color: white;
	border: none;
	padding-right: 30px;
}

.arrow#filter {
	margin-left: 50px;
}