.c-btn {
	display: inline-block;
	border: none;
	padding: .5em 1em;
	margin: 0;
	text-decoration: none;
	color: var(--color-1);
	cursor: pointer;
}

.c-btn--outline {
	border: 1px solid var(--color-1);
}